.a{
    font-family: 'Playfair Display', serif;
    padding: 10px 14px;
    text-decoration: none;
    color: #333;
}
.b{
    font-family: 'Playfair Display', serif;
    padding: 10px 14px;
    text-decoration: none;
    color: #333;
}